#modal {
    height: 350px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 2px 4px black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    position: relative;
}
#githubButton{
    width: 260px;
    display: inline-block;
    float: bottom;
    position: absolute;
    bottom: 30px;
}